* {
  margin: 0;
  padding: 0;
}

.contentContainer {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 50px;
}

.postSect {
  width: 75%;
}

.aboutSect {
  width: 25%;
  border: 1px solid #000;
  box-sizing: border-box;
  padding: 15px;
}

@media (max-width: 768px) {
  .contentContainer {
    display: block;
  }

  .postSect,
  .aboutSect {
    width: 100%;
  }
}

@media screen and (max-width: 426px) {
  .contentContainer {
    padding: 5%;
  }
}
